<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section class="banner">
        <img src="/images/frutos-12.jpg" alt="Banner de ofertas">

    </section>
<main>
   
    <h1>Rincón de Todos Nuestros Productos</h1>
    <!-- -----------------------------------------Granolas--------------------------------------------- -->

    <div class="secciónX">
        <h3>Granolas Rincon Sano</h3>
        <div class="contenedorProductos">
            
            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/granolatentacion.jpeg" alt="Granola" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$1.000</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Tentación</h4>
                </div>
            </div>

            <div class="productoX">
                 <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/granolaclasica.jpeg" alt="Granola" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$1.000</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Clasica</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/granolatentacioncoco.jpeg" alt="Granola" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$1.000</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Tentación Coco</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/granolaespecial.jpeg" alt="Granola" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$1.000</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Especial</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- ---------------------------------Productos Organicos ----------------------------------->

    <div class="secciónX">
        <h3>Orgánicos</h3>
        <div class="contenedorProductos">
            
            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/aceiteCoco.jpg" alt="Producto org." class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$1.100</p>
                    <p class="discount">15% off</p>
                    <h4 class="nombreProducto">Aceite de Coco Orgánica</h4>
                </div>
            </div>

            <div class="productoX">
                 <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/harinaIntTrigo.jpg" alt="Producto org." class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$400</p>
                    <p class="discount">10% off</p>
                    <h4 class="nombreProducto">Harina de Trigo orgánica</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/yerbaOrganica.jpg" alt="Producto org." class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$790</p>
                    <p class="discount">10% off</p>
                    <h4 class="nombreProducto">Yerba Mate Orgánica</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/mielOrg.jpg" alt="Producto org." class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$800</p>
                    <p class="discount">15% off</p>
                    <h4 class="nombreProducto">Miel Orgánica</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/mermeladaDeArándanosOrgánica.jpg" alt="Producto org." class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$790</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Mermelada de Arándanos Orgánica</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/aceiteDeLinoOrgánico.jpg" alt="Producto org." class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$800</p>
                    <p class="discount">10% off</p>
                    <h4 class="nombreProducto">Aceite de Lino Orgánica</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/aceiteDeOlivaPremiumOrganico.jpg" alt="Producto org." class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$2.600</p>
                    <p class="discount">15% off</p>
                    <h4 class="nombreProducto">Aceite de Oliva Premium Orgánica</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/porotosColoradosOrgánicos.jpg" alt="Producto org." class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$390</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Porotos Colorados Orgánicos</h4>
                </div>
            </div>

        </div>
    </div>
    <div class="secciónX">

        <!-- ------------------------------Libres de Gluten-------------------------------------------------- -->

        <h3>Libres de Gluten</h3>
        <div class="contenedorProductos">
            
            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/chocolate80.jpg" alt="Chocolate 80%" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$700</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Chocolate 80%</h4>
                </div>
            </div>

            <div class="productoX">
                 <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/trigoSarraceno.jpg" alt="Trigo Sarraceno" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$390</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Trigo Sarraceno</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/fideosArrozIntegral.jpg" alt="fideosArrozIntegral" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$360</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Fideos de Arroz Integral</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/lecheDeCocoYAlmendras.jpg" alt="lecheDeCocoYAlmendras" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$590</p>
                    <p class="discount">10% off</p>
                    <h4 class="nombreProducto">Leche de Coco y Almendras</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/galletitasNina.jpg" alt="lecheDeCocoYAlmendras" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$590</p>
                    <p class="discount">10% off</p>
                    <h4 class="nombreProducto">Galletitas Nina</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/arrozBasmati.jpg" alt="lecheDeCocoYAlmendras" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$700</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Arróz Basmati (Pakistan)</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------------------------Sección Cosmetica Natural--------------------- -->

    <div class="secciónX">
        <h3>Cosmética Natural</h3>
        <div class="contenedorProductos">
            
            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/aceiteCocoCosmetica.jpg" alt="aceiteCocoCosmetica" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$590</p>
                    <p class="discount">10% off</p>
                    <h4 class="nombreProducto">Aceite de Coco "God Bless You"</h4>
                </div>
            </div>

            <div class="productoX">
                 <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/mascaraParaAcne.jpg" alt="mascaraParaAcne" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$690</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Máscara para Acné 'Spatagonia' </h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/pastaDentalAyurvedico.jpg" alt="pastaDentalAyurvedico" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$1.000</p>
                    <p class="discount">25% off</p>
                    <h4 class="nombreProducto">Pasta dental 'Ayurvedico'</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/shampooAyurvedico.jpg" alt="shampooAyurvedico" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$990</p>
                    <p class="discount">15% off</p>
                    <h4 class="nombreProducto">Shampoo 'Ayurvedico'</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/acondicionadorSriSri.jpg" alt="Granola" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$630</p>
                    <p class="discount">10% off</p>
                    <h4 class="nombreProducto">Acondionador SriSri</h4>
                </div>
            </div>

            <div class="productoX">
                <div class="productoImagen">
                    <a href="/product/Detail"><img src="/images/jabónSriSri.jpg" alt="Granola" class="productImg"></a>
                </div>
                <div class="productoInformación">
                    <i class="fas fa-truck"></i>
                    <p class="price">$440</p>
                    <p class="discount">5% off</p>
                    <h4 class="nombreProducto">Jabón SriSri</h4>
                </div>
            </div>
            
        </div>
    </div>
</main>>
<%- include('../partials/footer') %>

    
</body>
</html>