<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>        
            <div id="containerCart" class="row">
                    
            </div>
        
        <div class="col-12">
            <div class="row product-detail">
                <div class="col-12 col-md-6">
                    <label for="name" class="form-label">Cantidad total de productos:</label>
                    <input id="cantTotal" disabled type="text" id="name" name="name" class="form-input" value="">
                </div>
                <div class="col-12 col-md-6">
                    <label for="price" class="form-label">Total de la compra:</label>
                    <input id="precioTotal" disabled type="text" id="price" name="price" class="form-input" value="">
                </div>
                <div class="col-12">
                    <button id="vaciar" class="buy-now-button">Vaciar Carrito</button>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
                            
                            
                            
                            
</html>