<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    
<!-- banner que todavia no esta funcionando -->

    <!-- <section class="banner">
        <img src="images/body-uc.jpg" alt="Banner de ofertas">
    

    </section> -->
    <main class="containerProducts">
        
        <div>
            <h1>Productos</h1>
        </div>



        <!-- ----------------------------Seccion Granola---------------------------------------------- -->
                        
            <section class="last-visit">
                <h3>Granolas</h3>
                <div class="products">
                    <article>
                        <a href="/productDetail"><img src="images/granolatentacion.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Tentaci칩n</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolaclasica.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Cl치sica</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolatentacioncoco.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Tentanci칩n Coco</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolaespecial.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Especial</h4>
                        </div>
                    </article>
                </div>
            </section>


            <!--------------------------------------Seccion organicos----------------------------------------------  -->

            <section class="last-visit">
                <h3>Productos Organicos</h3>
                <div class="products">
                    <article>
                        <a href="/productDetail"><img src="images/aceiteCoco.jpg" alt="Producto org." class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1100</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Aceite de coco virgen</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/harinaIntTrigo.jpg" alt="Producto org." class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$390</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Harina de trigo Organica</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/yerbaOrganica.jpg" alt="Producto org." class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$790</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Yerba Mate Organica</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/mielOrg.jpg" alt="Producto org." class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$790</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Miel org치nica</h4>
                        </div>
                    </article>
                </div>
            </section>                          
        <!-- ---------------------------------------Libres de Gluten------------------------------------------- -->

        <div class="productsAgroecologicos">
            <section class="last-visit">
                <h3>Libres de Gluten</h3>
                <div class="products">
                    <article>
                        <a href="/productDetail"><img src="images/chocolate80.jpg" alt="Chocolate 80%" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$590</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Chocolate 80%</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/trigoSarraceno.jpg" alt="Trigo Sarraceno" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$390</p>
                            <p class="discount">25% off</p>
                            <h4 class="description">Trigo sarraceno</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/fideosArrozIntegral.jpg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$360</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Fideos de Arroz Integral</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/lecheDeCocoYAlmendras.jpg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$590</p>
                            <p class="discount">0% off</p>
                            <h4 class="description">Leche de Coco y Almendras</h4>
                        </div>
                    </article>
                </div>
            </section>
        </div>

<!--------------------------------------------Cosmetica Natural------------------------------------------------------->

        <div class="productsLibresDeGluten">
            <section class="last-visit">
                <h3>Cosemtica Natural</h3>
                <div class="products">
                    <article>
                        <a href="/productDetail"><img src="images/aceiteCocoCosmetica.jpg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$590</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Aceite de Coco "God Bless You"</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/mascaraParaAcne.jpg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$690</p>
                            <p class="discount">10% off</p>
                            <h4 class="description">Mascara Para Acne Spatagonia</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/pastaDentalAyurvedico.jpg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">25% off</p>
                            <h4 class="description">Pasta Dental Ayurvedico</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/shampooAyurvedico.jpg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$990</p>
                            <p class="discount">15% off</p>
                            <h4 class="description">Shampoo Ayurvedico</h4>
                        </div>
                    </article>
                </div>
            </section>
        </div>


    </main>
    <%- include('../partials/footer') %>
    <section>

    </section>
    
</body>
</html>