<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    
<!-- banner que todavia no esta funcionando -->

    <!-- <section class="banner">
        <img src="images/body-uc.jpg" alt="Banner de ofertas">
    

    </section> -->
    <main class="containerProducts">
        
        <div>
            <h1>Productos</h1>
        </div>



        <!-- ----------------------------Seccion Granola---------------------------------------------- -->
                        
            <section class="last-visit">
                <h3>Granolas</h3>
                <div class="products">
                    <article>
                        <a href="/productDetail"><img src="images/granolatentacion.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Tentación</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolaclasica.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Clásica</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolatentacioncoco.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Tentanción Coco</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolaespecial.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Especial</h4>
                        </div>
                    </article>
                </div>
            </section>


            <!--------------------------------------Seccion organicos----------------------------------------------  -->

        <div class="productsOrganicos">
            
                <section class="last-visit">
                    <h3>Orgánicos</h3>
                    <div class="products">
                        <article>
                            <a href="/productDetail"><img src="images/granolatentacion.jpeg" alt="Granola" class="product_img"></a>
                            <div class="main-article">
                                <i class="fas fa-truck"></i>
                                <p class="price">$1.000</p>
                                <p class="discount">5% off</p>
                                <h4 class="description">Tentación</h4>
                            </div>
                        </article>
                        <article>
                            <a href="/productDetail"><img src="images/granolaclasica.jpeg" alt="Granola" class="product_img"></a>
                            <div class="main-article">
                                <i class="fas fa-truck"></i>
                                <p class="price">$1.000</p>
                                <p class="discount">5% off</p>
                                <h4 class="description">Clásica</h4>
                            </div>
                        </article>
                        <article>
                            <a href="/productDetail"><img src="images/granolatentacioncoco.jpeg" alt="Granola" class="product_img"></a>
                            <div class="main-article">
                                <i class="fas fa-truck"></i>
                                <p class="price">$1.000</p>
                                <p class="discount">5% off</p>
                                <h4 class="description">Tentanción Coco</h4>
                            </div>
                        </article>
                        <article>
                            <a href="/productDetail"><img src="images/granolaespecial.jpeg" alt="Granola" class="product_img"></a>
                            <div class="main-article">
                                <i class="fas fa-truck"></i>
                                <p class="price">$1.000</p>
                                <p class="discount">5% off</p>
                                <h4 class="description">Especial</h4>
                            </div>
                        </article>
                    </div>
                </section>
        </div>


        <div class="productsAgroecologicos">
            <section class="last-visit">
                <h3>Granolas</h3>
                <div class="products">
                    <article>
                        <a href="/productDetail"><img src="images/granolatentacion.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Tentación</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolaclasica.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Clásica</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolatentacioncoco.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Tentanción Coco</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolaespecial.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Especial</h4>
                        </div>
                    </article>
                </div>
            </section>
        </div>


        <div class="productsLibresDeGluten">
            <section class="last-visit">
                <h3>Granolas</h3>
                <div class="products">
                    <article>
                        <a href="/productDetail"><img src="images/granolatentacion.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Tentación</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolaclasica.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Clásica</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolatentacioncoco.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Tentanción Coco</h4>
                        </div>
                    </article>
                    <article>
                        <a href="/productDetail"><img src="images/granolaespecial.jpeg" alt="Granola" class="product_img"></a>
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <p class="price">$1.000</p>
                            <p class="discount">5% off</p>
                            <h4 class="description">Especial</h4>
                        </div>
                    </article>
                </div>
            </section>
        </div>


    </main>
    <%- include('../partials/footer') %>
    <section>

    </section>
    
</body>
</html>