<html>
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    
                                                <!-- Sección libre de gluten -->

    </section>
    <main>
        <section class="last-visit">
            <h3>Nuestros productos estrella</h3>
            <div class="products">
                <article>
                    <a href="/productDetail"><img src="images/granolatentacion.jpeg" alt="Granola" class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$1.000</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Tentación</h4>
                    </div>
                </article>
                <article>
                    <a href="/productDetail"><img src="images/granolaclasica.jpeg" alt="Granola" class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$1.000</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Clásica</h4>
                    </div>
                </article>
                <article>
                    <a href="/productDetail"><img src="images/granolatentacioncoco.jpeg" alt="Granola" class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$1.000</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Tentanción Coco</h4>
                    </div>
                </article>
                <article>
                    <a href="/productDetail"><img src="images/granolaespecial.jpeg" alt="Granola" class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$1.000</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Especial</h4>
                    </div>
                </article>
            </div>
        </section>
       
                                                    <!-- Sección libre de gluten -->
        <section class="last-visit">
            <h3>Nuestros productos estrella</h3>
            <div class="products">
                <article>
                    <a href="/productDetail"><img src="images/arrozYamani.jpg" alt="Arroz yamani" class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$220</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Arroz Yamani</h4>
                    </div>
                </article>
                <article>
                    <a href="/productDetail"><img src="images/chocolate80.jpg" alt="Chocolate 80%" class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$590</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Chocolate 80%</h4>
                    </div>
                </article>
                <article>
                    <a href="/productDetail"><img src="images/trigoSarraceno.jpg" alt="Trigo Sarraceno" class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$350</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Trigo sarraceno</h4>
                    </div>
                </article>
                <article>
                    <a href="/productDetail"><img src="images/steviaLiquida.jpg" alt="Stevia Liquido" class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$450</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Stevia Liquido</h4>
                    </div>
                </article>
            </div>
        </section>


<!-- Seccion organico -->
        <section class="last-visit">
            <h3>Productos orgánicos más vendidos</h3>
            <div class="products">
                <article>
                    <a href="/productDetail"><img src="images/aceiteCoco.jpg" alt="Producto org." class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$1100</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Aceite de coco virgen</h4>
                    </div>
                </article>
                <article>
                    <a href="/productDetail"><img src="images/harinaIntTrigo.jpg" alt="Producto org." class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$320</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Harina de trigo</h4>
                    </div>
                </article>
                <article>
                    <a href="/productDetail"><img src="images/yerbaOrganica.jpg" alt="Producto org." class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$720</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Yerba Mate</h4>
                    </div>
                </article>
                <article>
                    <a href="/productDetail"><img src="images/mielOrg.jpg" alt="Producto org." class="product_img"></a>
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$790</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Miel orgánica</h4>
                    </div>
                </article>
            </div>
        </section>                                                                 
    </main>
    <%- include('./partials/footer') %>
    <section>

    </section>
    
</body>
</html>
