*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin-top: 0%;
  }

/*--------------------------------------------------Header-----------------------------------------------------*/
.barraBusqueda{
  border: #000;
}
.imagen-logo { 
    width: 60%;
  }
.logo  {
    font-family: 'Whisper', cursive;
    text-align: left;
    color: rgb(90, 90, 90);
    font-size: 200%;
  }
  div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: auto;
  }
  div.burger-menu{
    text-align: center;
  }
  
  div.burger-menu i{
    background-color: #6b1f04;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 30px;
    width: 40px;
  }
  
  div.burger-menu i:hover{
    cursor: pointer;
    background-color: #179227;
  }
  
  header nav{
    display: none;
    font-size: 12px;
  }
  header {
    background-color: #ffffff;
    box-shadow: 0px 0px 30px rgb(0, 0, 0)
  }
  
  header div.logo,
  header form{
      width: 100%;
      
  }
  
  header div.logo{
    padding: 10px;
  }
  
  header form{
    display: flex;
    align-items: center;
    padding: 2px;
    position: relative;
  }
  
  header form input[type='search']{
    border: none;
    background-color: rgb(234, 234, 234);
    border-radius: 30px;
    outline: none;
    width: 100%;
    padding: 10px;
  }
  
  header form button{
    background-color: #FFF;
    border: 0px;
    outline: none;
    position: absolute;
    right: 5px;
    color: #666;
  }
  
  header ul li{
    list-style-type: none;
  }
  
  header ul li a{
    text-decoration: none;
    color: #000;
  }
/*header para administradores*/
  .adminName{
    font-weight: bold;
  }
/*------------------------------------------------Fin-Header--------------------------------------------------*/
/*--------------------------Validaciones inicio--------------------------*/

.is-valid {
  color: #198754;
  border: 2px solid #198754;
}

.is-invalid {
  color: #842029;
  border: 2px solid #842029;
}

.alert-warning{
  color:#842029;
  background-color: #F8D7DA;
  text-align: center;
  border-radius: 10px;
}

/*--------------------------Validaciones fin--------------------------*/

/*---------------------------------------------------Footer---------------------------------------------------*/

footer{
    background-color: rgb(191, 191, 191);
    color: #666;
    padding: 20px 5%;
  }
  
  footer article{
    margin: 20px 0px;
    padding: 20px;
    text-align: center;
  }
  
  footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
  }
  
  footer div .footer-article-container{
    display: flex;
    align-items: center;
  }
/*------------------------------------------------Fin-Footer--------------------------------------------------*/

/*---------------------------------------------------Home-Html------------------------------------------------*/
/*-------------------Section-Banner----------------*/

section.banner img{
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-bottom: 50px;
    opacity: 70%;
    }
    
  /*----------------Fin-Section-Banner---------------*/
  
  /*-------------------Main-Home---------------------*/
  
  div.last-visit,
  div.offers{
      display: flex;
      flex-wrap: wrap;
  }
  
  article div.main-article{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 20px;
  }
  
  .price{
  font-size: 18px;
  width: 30%;
  }
  
  .discount,
  .description{
  font-size: 16px;
  font-weight: normal;
  }
  
  .discount{
  width: 70%;
  }
  
  .description{
  margin-top: 20px;
  display: none;
  }
  
  h3,
  .description{
  color: #666;
  }
  
  
  
  main{
  width: 90%;
  margin: 0 auto;
  }
  
  main section h3{
  margin: 20px 0px;
  }
  
  main section article{
  background-color: #fff;
  margin: 10px 0px;
  }
  
  main section article:hover{
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  
  main section article:hover .description{
  display: block;
  }
  
  main section article img{
  display: block;
  width: 100%;
  }
  
  main section article i,
  .discount{
  color: #39b54a;
  }
  
  main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  }
  
  main section div.products article i{
  transition: transform 1s;
  }
  
  main section div.products article:hover i{
  transform: rotate(-90deg);
  }
  /*----------------Fin-Main-Home----------------*/
  /*----------------------------------------------Fin-Home-Html-------------------------------------------------*/
  
  /*----------------------------------------------Register-Html-------------------------------------------------*/
  /*-----------------Main-Register---------------*/
  .control-formulario{
    margin-bottom: 15px;
  }
  .control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
  }
  .control{
    width: 100%;
    padding: 8px;
  }
  .boton-formulario{
    background-color: rgb(4, 100, 68);
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .vaciar-carrito{
    background-color: rgb(81, 121, 107);
    border: none;
    font-size: 20px;
    color: white;
    padding: 3px 3px;
    border-radius: 5px;
  }
  .vaciar-carrito:hover{
    background-color: rgb(78, 90, 92);
    color: black;
  }
  .boton-formulario:hover{
    background-color: rgb(130, 223, 240);
    color: black;
  }
  .product{
    padding: 0 15px;
    position: relative;
    margin: 30px 15px;
  }
  
  /*---------------Fin-Main-Register---------------*/
  /*------------------------------------------------Fin-Register-Html---------------------------------------------*/
  

  /*------------------------------------------------products-Html--------------------------------------------*/



  /*------------------------------------------------Fin-products-Html---------------------------------------------*/
  

  /*------------------------------------------------ProductDetail-Html--------------------------------------------*/
  /*---------------Preguntas-frecuentes--------------*/
  main.preguntas-frecuentes{
    text-align: center;
    background: rgb(170, 229, 130);
  } 
  
  div.pregunta{
    text-align: left;
  }
   
  /*---------------Main-ProductDetail--------------*/
  
  /* Estilo de Product detail */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    }
    
    /* Columns */
    .left-column {
      width: 40%;
      position: relative;
    }
     
    .right-column {
      width: 60%;
      margin-top: 0px;
      display: flex;
      flex-direction: column;
    
    }
    
    /* Left Column */
    .left-column img {
      width: 80%;
    }
    
    /* Product Description */
    .product-description {
      border-bottom: 1px solid #E1E8EE;
      margin-bottom: 20px;
    }
    
    .product-description span {
      font-size: 14px;
      font-weight: 1000;
      color: #1d20d1;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
    }
    
    /* .product-description h1 {
      font-weight: 600;
      font-size: 35px;
      color: #43484D;
      letter-spacing: 0px;
      padding: 15px 15px 15px 15px;
    } */
    
    #nameProd {
      font-weight: 600;
      font-size: 35px;
      color: #43484D;
      letter-spacing: 1px;
      padding: 0px;
      text-align: left
    }

    .main-body {
      background-image: url(/images/greyWallTextureBG.jpg) ;
      background-size: cover;
    }

    .product-description p {
      font-size: 20px;
      font-weight: 450;
      color: #3c4247;
      line-height: 24px;
    }
    
    /* Product Price */
    .product-price {
      display: flex;
      align-items: center;
    }
    
    .product-price span {
      font-size: 30px;
      font-weight: 600;
      color: #282a2e;
      margin-right: 20px;
      padding: 10px 10px 10px 10px;
    }
    
    .labelCantidad {
      font-weight: 300;
    }
    
    .cantidad {
      margin: 10px 10px 10px 10px;
      padding: 3px 3px 3px 3px;
    }
    
    
    .cart-botton {
      display: inline-block;
      background-color: #7DC855;
      border-radius: 6px;
      font-size: 16px;
      color: #FFFFFF;
      text-decoration: none;
      margin-top: 10px;
      padding: 12px 30px;
      transition: all .5s;
    }
    
    .cart-botton:hover {
      background-color: #3c6825;
    }
  
  /*-----------Fin-Main-ProductoDetail-------------*/
  /* -------------------productCart------------------------ */

  /* ---------------------carrito------------------ */
.seccionPrueba{
  /* background-color: orange ; */
}

.div1Prueba{
  /* background-color: lightseagreen; */
  /* padding: 0% 0% 0% 7%; */
}

.titulo{
  /* background-color: lightcoral; */
  padding: 0% 0% 0% 4%;
}

.parrafo1{
  /* background-color: rgb(133, 70, 161); */
}

.tabla1{
  background-color: rgb(165, 165, 165);
}

.row{
  background-color: #ebebeb;
  display: flex;
}
.palabrerio{
  background-color: lightgrey;
}
.tabla1{
  width: 100%;
}

.productRow{
  width: 60%;
  background-color: lightgrey;

}
.priceRow{
  width: 12%;
  background-color: white;
  
}
.quantityRow{
  width: 10%;
  background-color: lightgrey;
  
}
.buttonsRow{
  width: 16%;
  background-color: white;
  
}
.mainProductRow{
  /* height: 50%; */
}

.columnProduct{  
  /* display: flex; */
}
.divImage{
  width: 50%;

}

.cartImage{
  width: 100%;
  height: 100%;
}
.palabrerio{
  width: 50%;
  padding: 2% 0% 0% 3% ;
}

  .palabrerio h4{
    padding: 0% 0% 4% 0%;
  }

.priceText{
  padding: 2% 2% 2% 2%;
  background-color: white;
  
}
.quantityTd{
  background-color: lightgrey;
  
}

.actions{
  padding: 2% 2% 2% 5%;
  background-color: white;
}
.trashIcon{
  width: 100%;
}

  /* ---------------Contact page---------------------- */

  .contactBox{
    display: flex;
    justify-content: space-between;

  }
  
  .contactTitle{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
    
  
  .sendMail{
    display: flex;
    flex-direction: column;
    width: 50%;
  }

    .contactFormulario{
      display: flex;
      flex-direction: column;
    }
/*------------------------------------Vistas de administrador---------------------*/
/*----------------------Edit---------------------*/
.edit-img{
  height: 300px ;
  width: 300px;
}
.admin-form{
  text-align: center;
}
.addBlock{
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
  
}
.addButton{
  color: white;
  
}
.agregarText{
  color: white;

}


.tablaAdmin{
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
}

.idColumn{
  width: 15%;
  text-align: center;
  background-color: rgb(160, 160, 160);
}

.nombreColumn{
  width: 55%;
  background-color: rgb(160, 160, 160);

  
}

.verColumn{
  width: 10%;
  background-color: rgb(160, 160, 160);

}

.editarColumn{
  width: 10%;
  background-color: rgb(160, 160, 160);

}

.borrarColumn{
  width:5%;
  background-color: rgb(160, 160, 160);

}

.tdNumero{
  text-align: center;
  background-color: lightgrey;
  padding: 3px 0px 3px 4px;

}

.tdNombre{
  background-color: lightgrey;
  padding: 3px 0px 3px 4px;

}
.tdVer{
  text-align: center;
  background-color: lightgrey;
  padding: 3px 0px 3px 4px;
  
}
.tdEditar{
  text-align: center; 
  background-color: lightgrey;
  padding: 3px 0px 3px 4px;

}
.tdBorrar{
  text-align: center;
  background-color: lightgrey;
  padding: 3px 0px 3px 4px;

}
/*----------------------------NOT FOUND------------------------------------- */

.en-construccion {
  padding: 20vh 0;
  text-align: center;
  
}
.not-found {
  background: url(../images/error-404.jpg) center no-repeat, url(../images/error-404.jpg) center no-repeat;
  background-size: cover;
}
img{
  max-width: 100%;
}
body {
  width: 100%;
}

main {
  width: 100%;
  margin: auto;
}
main p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 24px; 
}


/*------------------------------NOT FOUND----------------------------------- */


  /*------------------------------------------------Media---------------------------------------------------------*/
  /*Se recomienda 0-480 smaller phones, 481-768 Tablets y big phones, 769-1279 Laptops and larger tablets, 1280 larger desktops and monitors */
  /*---------------Tablets (Dispositivo móvil es la config original)---------------*/

  @media (min-width: 481px){

  } 

  /*---------------Laptops y tablets grandes---------------*/

  @media (min-width: 769px){
    .login,
    .register{
      max-width: 500px;
      margin: 0 auto;
  }

  /* -------Header------- */

  header div.top-header{
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 0% 2%;
  }

  header div.top-header div.logo{
      flex-grow: 2;
      width: auto ;
  }

  header div.top-header form{
      flex-grow: 5;
      width: auto ;
  }

  header div.top-header p{
      flex-grow: 1;
      width: auto;
  }


    div.burger-menu{
        display: none;
    }
    header nav{
        padding: 2% 2% 0% 2%;
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;

    }
    header nav ul li{
        padding: 0.8rem 1.3rem;
        cursor: pointer;
        font-size: 0.8rem;
        margin: 0px;
        /* background-color: #1259c3; */
        background-image: linear-gradient(to right, rgb(200, 200, 200) 50%, transparent 50%);
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: right;
        transition:background-position .3s ease;
    }
    header nav ul li:hover{
      background-position: left;
      color: white;
    }

  /* -------Header------- */

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        height: 70vh;
    }
    
    main section div.products article{
        width: 22%;
    }
    
    .price,
    .discount{
        width: 50%;
    }
  }
  footer div.footer-article-container{
    display: flex;
    justify-content: space-between;
}

  /*---------------Computadoras de escritorio---------------*/

  @media (min-width: 1280px){

    
  }

   /* --------------------------Css de toda la view de products.ejs-------------------------- */

  main h1{
    margin: 40px;
    text-align: center;
  }


   .contenedorSecciones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 95%;
    margin: 0 auto;
    /* background-color: red; */
  }
  .secciónX{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 99%;
    margin: 35px 15px;
    padding: 5px;
    border-bottom: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(186, 177, 177);   


  }
  .nombreSección{
    display: flex;
  }

  .contenedorProductos{
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    margin: 10px 10px;
    padding: 0px;
    /* border: solid;
    border-color: #000; */
  }
 
  .productImg{
  width: 100%;
  height: 100%;
  }

  .productoX{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    width: 280px;
    margin: 10px;
    padding: 10px;
    /* border: solid;
    border-color: #000; */
  }
      .productoX:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
      /* .productoX:hover .description{
          display: block;
          } */
      
      .nombreProducto {
        font-size: 16px;
        font-weight: normal;
        margin-top: 20px;
        font-weight: bold;
      }

      .productoImagen{
        background-color: orange;
        display: block;
        width: 100%;
        /* height: 65%; */
        

      }
      .productoInformación {
        background-color: rgb(255, 255, 255);
        height: 35%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        border-top: 1px solid #ebebeb;
        position: relative;
        padding: 20px;
        
      }
      main div div.contenedorProductos div.productoInformación i {
        color: #39b54a;

        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        
        transition: transform 1s; 
      }
      main div div.contenedorProductos div.productoX:hover i {
        transform: rotate(-90deg);
      }

      /* ---------------------------------------------------------vista profile.ejs------------------------------------------------------------------ */
  
  .imagenPerfil{
    height: 300px;
    width: 300px;
    border: solid;
    border-color: grey;
    margin: 20px;
  }
  .card {
    margin: 40px;
    padding: 20px;
    border: solid ;
    border-color: rgba(128, 128, 128, 0.53) ;
    border-radius: 10px;
    text-align: center;
  }

  .cardName {
    font-size: 25px ;
    margin: 15px;

  }
  .cardText{
    font-size: 20px;
    margin: 10px;
  }