<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main >
        <div class="contactBox">
            <div class="contactTitle">
                <h1 class = "quienes-somosh3">Contacto</h1>
                <br>
                <div>
                    <section class="contacto-datos">
                    <p class="quienes-somosp">Podes comunicarte por Whatsapp, mensje de texto o llamada. No te olvides de que el pedido debe ser realizado antes de las 19hs.</p>
                    <div>
                        <p class="quienes-somosp"> Teléfono: 387-5999999 <i class="fa-solid fa-phone"></i></p>
                    </div>
                    <div>
                        <p class="quienes-somosp">RinconSano-Salta@gmail.com <i class="fa-solid fa-envelope"></i></p>
                    </div>
                    <div>
                        <p class="quienes-somosp">Ubicación: Salta, Argentina <i class="fa-solid fa-location-dot"></i></p>
                    </div>
                </section>                                                                                                    
            </div>
            </div>
            <div class="sendMail">
                <br>
                <br>
                <br>                
                <h2>Déjanos un mensaje..</h2>
                <form action="/" method="POST">                                        
                    <div class="contactFormulario">
                        <br>
                        <br>
                        <div>
                            <label>Nombre y Apellido</label>
                            <br>
                            <br>
                            <input class ="control2" type="text" name="name" placeholder="Nombre y Apellido">
                        </div>
                        <br>
                        <div>
                            <label>Email</label>
                            <br>
                            <br>
                            <input class ="control2" type="email" name="email" placeholder="E-mail">
                        </div>
                        <br>
                        <div>
                            <label>Teléfono</label>
                            <br>
                            <br>
                            <input class ="control2" type="text" name="telefono" placeholder="Telefono">
                        </div>
                        <br>
                        <div>
                            <label>Mensaje</label>
                            <br>
                            <br>
                            <input class ="control2" type="text" name="mensaje" placeholder="Mensaje">
                        </div>
                        <br>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </main>

    
    <%- include('../partials/footer') %>
</body>
</html>
