<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main >
        <div class="contactBox">
            <div class="contactTitle">
                <p>Contacto</p>
                <br>
                <p>Podes comunicarte por Whatsapp, mensje de texto o llamada. No te olvides de que el pedido debe ser realizado antes de las 19hs.</p>
                <div>
                    <i class="fa-solid fa-phone"></i>
                <p class="contactTelefono"> 3879999999</p>
                <i class="fa-solid fa-at"></i>
                <p class="contactMail">nombre@mail.nnn</p>
                <i class="fa-solid fa-map"></i>
                <p class="contactUbicacion">Salta, Argentina</p>
            </div>
            </div>
            <div class="sendMail">
                <form action="/" method="POST">
                    <div class="contactFormulario">
                        <div>
                            <label>Nombre y Apellido</label>
                            <br>
                            <input type="text" name="name" placeholder="Nombre y Apellido">
                        </div>
                        <br>
                        <div>
                            <label>Email</label>
                            <br>
                            <input type="email" name="email" placeholder="E-mail">
                        </div>
                        <br>
                        <div>
                            <label>Telefono</label>
                            <br>
                            <input type="text" name="telefono" placeholder="Telefono">
                        </div>
                        <br>
                        <div>
                            <label>Mensaje</label>
                            <br>
                            <input type="text" name="mensaje" placeholder="Mensaje">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    
    <%- include('../partials/footer') %>
</body>
</html>
