<html>
<%- include('../partials/head') %>
<body id="bodyPF">
    <%- include('../partials/header') %>
    <main class="quienes-somos">
        <h1 class = "quienes-somosh3"> Preguntas Frecuentes </h1><br>
        <!-- <h3 id = "h3-preguntas"> ¡Novedad! ¡Incorporamos envíos al interior de Salta y Jujuy una vez por semana!</h3><br> -->
        <div class="pregunta">
            <h3 class="quienes-somosh3">¿Dónde están?</h3><br>
            <p class="quienes-somosp"> Las entregas a domicilio se realizarán entre los días MARTES y SÁBADO por la mañana, en el horario de 11.30 hs. a 14 hs. 
            Si el día de entrega es FERIADO, la misma pasará para el día siguiente.                 
            </p><br>
        </div>
        <div class="pregunta">
            <h3 class="quienes-somosh3">¿Cual es el monto mínimo de la compra para los envíos?</h3><br>
            <p class="quienes-somosp"> El monto mínimo es de $1.000.</p><br>
        </div>
        <div class="pregunta">
            <h3 class="quienes-somosh3">¿Cuáles son los costos de envío?</h3><br>
            <p class="quienes-somosp"> No se cobrará el envío si el monto total de la compra es mayor a $1500. (El costo del envío dependerá de la zona).
            En el caso de que el domicilio para la entrega sea diferente a Microcentro o Tres Cerritos, se cobrará el costo del envío (independientemente del monto de la compra).
            ACLARACIÓN!!: En el caso de no encontrarse en el domicilio en el horario de entrega pautado, el costo del envío de la próxima entrega correrá por cuenta del cliente,
            </p><br>
        </div>
        <div class="pregunta">
            <h3 class="quienes-somosh3">¿Cuáles son las zonas de entrega?</h3><br>
            <div>
            <ol>
                <li class="quienes-somosp">Zona Centro (Microcentro)</li>
                <li class="quienes-somosp">Tres Cerritos</li>
                <li class="quienes-somosp">Grand Bourg</li>
                <li class="quienes-somosp">Zona Sur (aeropuerto)</li>
                <li class="quienes-somosp">Interior de la Provincia de Salta y Jujuy (comunicarse antes de hacer la compra)</li>
            </ol><br>
            <p class="quienes-somosp">
            NO HACEMOS ENVÍOS A OTRAS PROVINCIAS (EXCEPTO A JUJUY)
            </p>
            </div><br>
        </div>
        <div class="pregunta">
            <h3 class="quienes-somosh3">¿Tienen algún lugar donde se puedan dejar los pedidos para retirarlos?</h3><br>
            <p class="quienes-somosp"> 
                <ul>
                <li class="quienes-somosp">
                    ZONA CENTRO: Ofrecemos la posibilidad de buscar los pedidos en el centro, en calle     BELGRANO 518 (Spiedo Belgrano), en el horario de 11.30 hs A 14 hs  y de 19 hs. a 22 hs.
                </li>
                <li class="quienes-somosp">
                    ZONA SUR: Barrio el Portal de Limache Casa 8 (acordar horario de búsqueda previamente).
                </li>
                </ul>
            </p><br>
        </div>
        <div class="pregunta">
            <h3 class="quienes-somosh3">¿Cual es el horario para realizar los pedidos?</h4><br>
            <p class="quienes-somosp">
            Los pedidos se toman hasta las 19 hs. (para ser entregados al  día siguiente). Los que se realicen posterior a esa hora, pasarán al otro día.

            Solamente en el caso de los pedidos que se realicen para retirar en zona Sur, se podrá pautar la entrega durante el transcurso del mismo el día de la compra.
            </p><br>
        </div>                        
    </main>
    <%- include('../partials/footer') %>
</body>
</html>