<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section class="banner">
        <img src="images/body-uc.jpg" alt="Banner de ofertas">
    
                                                <!-- Sección libre de gluten -->

    </section>
    <main>
                                                       
    </main>
    <%- include('../partials/footer') %>
    <section>

    </section>
    
</body>
</html>