<html>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="quienes-somos">
    <div>        
        <h1 class="quienes-somosh3">Quiénes somos</h1>
        <section class="main-container-qs">
        <p class="quienes-somosp">
            Rincon Sano significa Fuerza, Salud Integral, Vitalidad y Energía, todo esto como una sola unidad integrativa que se puede traducir como Fortaleza al alimentarse correctamente, Salubridad al cumplir con las normas de auto cuidado, Vitalidad en la convivencia con uno mismo y los demás y Energía como estado pleno de satisfacción. Éste es el objetivo de este almacén natural, traer alimentos orgánicos y agroecológicos y difundir una Alimentación Consciente en nuestra vida diaria y así lograr una mejor calidad de vida.
            
            Es un microemprendimiento que nació en la ciudad de Salta, a mediados del año 2.016 con el objetivo es llegar a la casa de cada uno de ustedes con productos sanos, naturales y lo más importante producidos de manera orgánica, libre de todo uso de agroquímicos y haciendo un manejo sustentable de la tierra.
            
            ¿Por qué te ofrecemos productos ORGÁNICOS?
            
            Porque son productos sin aditivos ni conservantes que apuntan a mejorar tu calidad de vida. Además nuestros productos ayudan a reducir el impacto en el ambiente, ya que ellos son producidos sin el uso de fungicidas e insecticidas, preservando así el ambiente y la salud de las personas que lo producen y que lo consumen y ¡SON MUCHOS MÁS NUTRITIVOS!
        </p>
    </div>
    <section>
        <h3 class="quienes-somosh3">Envios</h3>
        <p class="quienes-somosp">En Salta Capital, zona Centro, Tres Cerritos y Grand Bourg. Damos 2 domicilios para pasar a buscar zona Centro y zona Sur. NO HACEMOS ENVÍOS A OTRAS PROVINCIAS.</p>
    </section>
    <section>
        <h3 class="quienes-somosh3">Cuotas y facilidades</h3>
        <p class="quienes-somosp">Abonando con mercadopago</p>
    </section>
    <section>        
        <h3 class="quienes-somosh3">Sitio seguro</h3>
        <p class="quienes-somosp">Protegemos tus datos</p>
    </section>
</section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>