<html>
<%- include('./partials/head') %>
<body class=".en-construccion-body">
    <%- include('./partials/header') %>
    <main class="en-construccion not-found">
        <div class="col1">
            <br>
            <br>
            <p><strong>EN CONSTRUCCIÓN</strong></p>
            <p><strong>404! NOT FOUND</strong></p>
            <p><strong>La dirección solicitada no está disponible (Error 404)</strong></p>
            <p><strong>Otras direcciones a las que podrías acceder:</strong></p>
            <br>            
            <ul>
                <li><a href="/">Home</a></li>
                <br>
                <li><a href="/product/products">Productos</a></li>
                <br>
                <li><a href="/preguntasFrecuentes">Preguntas Frecuentes</a></li>
                <br>
            </ul>
        </div>
        <br>
        <br>

        </main>
        <%- include('./partials/footer') %>
</body>                                                            
</html>