<footer>
    <div class="footer-article-container">
        <article>
            <h4>CONSULTAS</h4>
            <p><i class="fa-solid fa-hand-holding-dollar"></i> Cómo Comprar.</p>
            <p><i class="fa-solid fa-circle-question"></i> Preguntas Frecuentes</p>
        </article>
        <article>
            <h4>REDES SOCIALES</h4>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter-square"></i>
        </article>
        <article>
            <h4>MEDIOS DE PAGO</h4>
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-amex"></i>
        </article>
        <article>
            <h4>CONTÁCTANOS</h4>
            <p><i class="fa-solid fa-phone"></i> 387-5979797</p>
            <p><i class="fa-solid fa-envelope"></i> rinconsano@gmail.com</p>
            <p><i class="fa-solid fa-location-dot"></i></i> Salta, Argentina</p>
        </article>
    </div>
    <div><p>Copyright © 1999-2019 Rincon Sano S.R.L.</p></div>

</footer>