<header>
    <div class="top-header">
        <div class="logo">
            <h1>Rincon Sano</h1>
        </div>
    <!-- <div class="logo">
        <img src="images/logoLetra.png" class="imagen-logo" alt="Logo">
    </div>         -->
        
        <form action="#" method="GET" class="barraBusqueda">
            <input type="search" placeholder="Buscar productos, marcas y más" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

    </div>

    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/product/products">Productos</a></li>
            <li><a href="#">¿Cómo comprar?</a></li>
            <li><a href="/quienesSomos">¿Quiénes somos?</a></li>
            <li><a href="/preguntasFrecuentes">Preguntas frecuentes</a></li>
            <li><a href="/contact">Contactos</a></li>
            <li><a href="/product/Cart">Carrito <i class="fa-solid fa-cart-arrow-down"></i><span class="cartNmb"></span></a></li>
            <% if(!locals.isLogged){%>
            <li><a href="/user/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/user/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <% } else if (locals.isLogged && locals.userLogged.id_rol === 2) {%>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/user/profile" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hi <%= locals.userLogged.nombre %>
                    </a>
                </li>        
                        
                <li>
                    <a class="dropdown-item" href="/user/logout">Logout</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/administrar">Administrar</a>
                </li>

            <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/user/profile" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hi <%= locals.userLogged.nombre %>
                    </a>
                </li>        
                        
                <li>
                    <a class="dropdown-item" href="/user/logout">Logout</a>
                </li>                
            <% } %>

        </ul>
        
    </nav>
</header>