<html>
    <%- include('../partials/head') %>  
        <body>
            <%- include('../partials/header') %>
                <main>
                    <form action="/" method="POST">
                        <label>Producto</label>
                        <input type="text" name="product" class="product">
                        <label>Producto</label>
                        <input type="text" name="product" class="product">
                        <label>Producto</label>
                        <input type="text" name="product" class="product">
                        <label>Producto</label>
                        <input type="text" name="product" class="product">
                        <label>Producto</label>
                        <input type="text" name="product" class="product">
                    </form>
                </main>
            
    <%- include('../partials/footer') %>
        </body>
</html>