<html>
<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>
	
	
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<h2>PERFIL DE USUARIO</h2>
				<img src="">
				<br>
				<br>
				<div class="alert alert-success"></div>
			</div>
		</div>
	</div>
	<!-- //Container -->
	
	<%- include('../partials/footer') %>
</body>
</html>